* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: auto;
  max-width: 1000px;
  padding: 5px;
}

h1{
  font-weight: 200;
}

h2 {
  padding-top: 75px;
  font-weight: 200;
}

.thingsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 40px;
}

.thing {
  width: 100%;
  max-width: 350px;
  text-align: center;
  padding: 30px;
  padding-bottom: 80px;
  height: 315px;
  position: relative;
}

.thing::before {
  content: '+';
  font-size: 75px;
  position: absolute;
  top: 100px;
  left: -40px;
}

.thing:first-child::before {
  content: '=';
}

.thing > img {
  height: 100%;
  max-width: 100%;
}

.thing:hover > .buttons > * {
  opacity: 1;
}

.thing > .buttons > * {
  opacity: 0;
  transition: all .1s;
}

.buttons {
  position: absolute;
  right: 8px;
  top: 90px;
  user-select: none;
}

.buttons > div {
  padding: 5px;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
}

.buttons > div:first-child {
  background-color: lightgreen;
}

.buttons > div:last-child {
  background-color: lightcoral;
}

.locked {
  opacity: 1 !important;
}

.locked:hover {
  background-color: #ddd;
}

.buttons img {
  height: 25px;
}
