* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: auto;
  max-width: 1000px;
  padding: 5px;
}

h1{
  font-weight: 200;
}

h2 {
  padding-top: 75px;
  font-weight: 200;
}

.thingsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 40px;
}

.thing {
  width: 100%;
  max-width: 350px;
  text-align: center;
  padding: 30px;
  padding-bottom: 80px;
  height: 315px;
  position: relative;
}

.thing::before {
  content: '+';
  font-size: 100px;
  position: absolute;
  top: 100px;
  left: -28px;
}

.thing:first-child::before {
  content: '=';
}

.thing > img {
  height: 100%;
  max-width: 100%;
}
